.hole {
    background-color: transparent;
    color: white;
    text-align: center;
    box-sizing: content-box; 
    padding: 0; 
    width: 33px;

    border: none;

    z-index: 1;
}

.teebox-name {
    text-align: left;
}